		</div><!-- /Container -->
	</div><!-- /Area -->
	<footer class="footer">
		<div class="container">
			<div class="inner">
				<div class="pull-right copyright">استفاده از مطالب امدادنا در نشریات و وبسایت‌ها آزاد است اما با ذکر منبع می‌توانید ما را یاری کنید.</div>
				<div class="pull-left socials">
					<ul class="ltr">
						<li><a rel="tooltip" data-original-title="امدادنا در فیس‌بوک" href="https://www.facebook.com/pages/Emdadna/128427783995684?ref=hl" target="_blank"><img src="/img/socials/white_facebook.png" /></a></li>
						<li><a rel="tooltip" data-original-title="امدادنا در توییتر" href="https://twitter.com/emdadna" target="_blank"><img src="/img/socials/white_twitter_bird.png" /></a></li>
						<li style="margin: 5px 5px 0 5px;">
						<!-- Place this tag where you want the +1 button to render. -->
						<div class="g-plusone" data-size="medium" data-href="http://emdadna.ir"></div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-38419122-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>

		<!-- Place this tag after the last +1 button tag. -->
		<script type="text/javascript">
			(function() {
				var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				po.src = 'https://apis.google.com/js/plusone.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			})();
		</script>
</body>
</html>
