<meta name="description" content="امدادنا - راهکارهای مقابله و مواجهه با بلایای طبیعی" />
<meta name="author" content="Farhad Eidi" />
<meta name="viewport" content="width=device-width; initial-scale=1.0" />
<link rel="shortcut icon" href="/img/favicon.ico" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/java.js"></script>
</head>
<body>
	<div id="area">
		<div class="container">
			<header class="header">
				<div class="navbar">
					<div class="navbar-inner">
						<a href="/" class="brand" rel="tooltip" data-original-title="تکرار هر آنچه که باید بارها و بارها مرور کنید" data-placement="bottom"><img src="/img/logo.png" alt="امدادنا" /></a>
						<ul class="nav">
							<li class="active"><a href="/">خانه</a></li>
							<li class="divider-vertical"></li>
							<li><a href="/earthquake">زلزله</a></li>
							<li class="divider-vertical"></li>
							<li><a href="/flood">سیل</a></li>
							<li class="divider-vertical"></li>
							<li><a href="/fire">آتش‌سوزی</a></li>
							<li class="divider-vertical"></li>
							<li><a href="/rescue">امداد و نجات</a></li>
							<li class="divider-vertical"></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">پیوندها <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="/about"><span class="icon-info-sign"></span> درباره امدادنا</a></li>
									<li><a href="/contact"><span class="icon-envelope"></span> فرم تماس</a></li>
									<li><a href="/join"><span class="icon-globe"></span> همکاری</a></li>
								</ul>
							</li>
							<li class="divider-vertical"></li>
						</ul>
						<ul class="nav hidden-nav">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">شاخه‌ها <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="/">خانه</a></li>
									<li><a href="/eartquake">زلزله</a></li>
									<li><a href="/flood">سیل و سونامی</a></li>
									<li><a href="/fire">آتش‌سوزی</a></li>
									<li><a href="/about">درباره امدادنا</a></li>
									<li><a href="/contact">فرم تماس</a></li>
									<li><a href="/join">همکاری</a></li>
								</ul>
							</li>
						</ul>
						
						<form method="get" action="/" class="navbar-search pull-left hidden">
							<input type="text" class="search-query" name="s" placeholder="همیشه جستجو کنید ...">
						</form>           
					</div>
				</div>
				<div class="hidden-searchbar row hidden">
					<div class="searchbar span6 offset3">
						<form method="get" action="/">
							<input type="text" class="field input-block-level" name="s" placeholder="همیشه جستجو کنید ...">
						</form>
					</div>
				</div>
			</header>