	<div class="span4 excerpt clearfix">
		<div class="inner">
			<article>
				<div class="image">
					<img src="{{ post.thumbnail }}" alt="">
				</div>
				<div class="content">
					<h2><a href="{{ post.url }}" title="مشاهده مطلب">{{ post.title }}</a></h2>
					{{ post.excerpt }}
				</div><!-- /Content -->
				<div class="meta">
					<div class="meta-inner">
						<a href="{{ post.url }}" title="<?php the_title(); ?>">ادامه محتوا را بخوانید ...</a>
					</div>
				</div><!-- /Meta -->
			</article>
		</div><!-- /Inner -->
	</div><!-- Excerpt -->
