---
layout: default
---
<div class="page">
	<div class="inner">
		<div class="post-cover">
			<a href="{{ post.url }}" rel="bookmark">
				<img class="thumb" src="{{ page.Post_Cover }}" alt="{{ post.title }}" />
			</a>
		</div>
		<h1 class="title"><a href="{{ page.url }}" title="پیوند ثابت این مطلب">{{ page.title }}</a></h1>
		<div class="content">
			{{ content }}
		</div><!-- /Content -->
		
	</div><!-- /Inner -->
</div><!-- /Page -->





<h1 class="title title-black"><span>اخبار و مقالات مرتبط</span></h1>
<div class="row posts">

	{% if page.permalink == "/earthquake/" %}
		{% assign cat = site.categories["زلزله"] %}
	{% endif %}
	{% if page.permalink == "/flood/" %}
		{% assign cat = site.categories["سیل و سونامی"] %}
	{% endif %}
	{% if page.permalink == "/fire/" %}
		{% assign cat = site.categories["آتش‌سوزی"] %}
	{% endif %}

	{% for post in cat %}
		{% include posts.html %}
	{% endfor %}

</div><!-- /Posts -->

